body{
    background-color:bisque;
    font-family: Bau Jamjuree;
}
#container {
    display:flex;
}
.cartão{
    margin:1rem 1rem;
    background-color:aqua;
    height:20rem;
    flex-grow:1;
    flex-basis:calc(33%-6rem);
}
.cartão_conteudo[
    text-align:center;
    height:100%;
]